label{
	font-size:1.3rem;
	font-family:$light-font-name;
	color:$text-color;
	margin-bottom:10px;
}

.input-lg{
	border-radius:3px;
}

.form-control{
	box-shadow:none;
	&:focus{
		box-shadow:none;
	}
}