// typography baselines and @font face setups
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic);


@font-face {
    font-family: 'socialicoregular';
    src: url('../font/socialico-webfont.eot');
    src: url('../font/socialico-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/socialico-webfont.woff') format('woff'),
         url('../font/socialico-webfont.ttf') format('truetype'),
         url('../font/socialico-webfont.svg#socialicoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sanslight_italic';
    src: url('../font/opensans-lightitalic-webfont.eot');
    src: url('../font/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-lightitalic-webfont.woff2') format('woff2'),
         url('../font/opensans-lightitalic-webfont.woff') format('woff'),
         url('../font/opensans-lightitalic-webfont.ttf') format('truetype'),
         url('../font/opensans-lightitalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansitalic';
    src: url('../font/opensans-italic-webfont.eot');
    src: url('../font/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-italic-webfont.woff2') format('woff2'),
         url('../font/opensans-italic-webfont.woff') format('woff'),
         url('../font/opensans-italic-webfont.ttf') format('truetype'),
         url('../font/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansextrabold_italic';
    src: url('../font/opensans-extrabolditalic-webfont.eot');
    src: url('../font/opensans-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-extrabolditalic-webfont.woff2') format('woff2'),
         url('../font/opensans-extrabolditalic-webfont.woff') format('woff'),
         url('../font/opensans-extrabolditalic-webfont.ttf') format('truetype'),
         url('../font/opensans-extrabolditalic-webfont.svg#open_sansextrabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansbold';
    src: url('../font/opensans-bold-webfont.eot');
    src: url('../font/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-bold-webfont.woff2') format('woff2'),
         url('../font/opensans-bold-webfont.woff') format('woff'),
         url('../font/opensans-bold-webfont.ttf') format('truetype'),
         url('../font/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('../font/opensans-semibolditalic-webfont.eot');
    src: url('../font/opensans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-semibolditalic-webfont.woff2') format('woff2'),
         url('../font/opensans-semibolditalic-webfont.woff') format('woff'),
         url('../font/opensans-semibolditalic-webfont.ttf') format('truetype'),
         url('../font/opensans-semibolditalic-webfont.svg#open_sanssemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanssemibold';
    src: url('../font/opensans-semibold-webfont.eot');
    src: url('../font/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-semibold-webfont.woff2') format('woff2'),
         url('../font/opensans-semibold-webfont.woff') format('woff'),
         url('../font/opensans-semibold-webfont.ttf') format('truetype'),
         url('../font/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansregular';
    src: url('../font/opensans-regular-webfont.eot');
    src: url('../font/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-regular-webfont.woff2') format('woff2'),
         url('../font/opensans-regular-webfont.woff') format('woff'),
         url('../font/opensans-regular-webfont.ttf') format('truetype'),
         url('../font/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanslight';
    src: url('../font/opensans-light-webfont.eot');
    src: url('../font/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-light-webfont.woff2') format('woff2'),
         url('../font/opensans-light-webfont.woff') format('woff'),
         url('../font/opensans-light-webfont.ttf') format('truetype'),
         url('../font/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansbold_italic';
    src: url('../font/opensans-bolditalic-webfont.eot');
    src: url('../font/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-bolditalic-webfont.woff2') format('woff2'),
         url('../font/opensans-bolditalic-webfont.woff') format('woff'),
         url('../font/opensans-bolditalic-webfont.ttf') format('truetype'),
         url('../font/opensans-bolditalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansextrabold';
    src: url('../font/opensans-extrabold-webfont.eot');
    src: url('../font/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-extrabold-webfont.woff2') format('woff2'),
         url('../font/opensans-extrabold-webfont.woff') format('woff'),
         url('../font/opensans-extrabold-webfont.ttf') format('truetype'),
         url('../font/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_grotesquebold';
    src: url('../font/brandon_bld-webfont.eot');
    src: url('../font/brandon_bld-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/brandon_bld-webfont.woff2') format('woff2'),
         url('../font/brandon_bld-webfont.woff') format('woff'),
         url('../font/brandon_bld-webfont.ttf') format('truetype'),
         url('../font/brandon_bld-webfont.svg#brandon_grotesquebold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_grotesqueRgIt';
    src: url('../font/brandon_reg_it-webfont.eot');
    src: url('../font/brandon_reg_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/brandon_reg_it-webfont.woff2') format('woff2'),
         url('../font/brandon_reg_it-webfont.woff') format('woff'),
         url('../font/brandon_reg_it-webfont.ttf') format('truetype'),
         url('../font/brandon_reg_it-webfont.svg#brandon_grotesqueRgIt') format('svg');
    font-weight: normal;
    font-style: normal;

}

.text-columns-2{
  @include columns($text-column-gutter-width 2);
}
.text-columns-3{
  @include columns($text-column-gutter-width 3);
}
.text-columns-4{
  @include columns($text-column-gutter-width 4);
}

.text-uppercase{
  text-transform:uppercase;
}

.text-color{
  color:$text-color;
}

.dark-text-color{
  color:$dark-text-color;
}

.light-text-color{
  color:$light-text-color;
}

.text-success{
  color:$green-color;
}

.text-warning{
  color:$warning-color;
}

.link-color{
  color:$link-color;
}


//font families

.light-font-name{
    font-family:$light-font-name;
}
.regular-font-name{
    font-family:$regular-font-name;
}
.medium-font-name{
    font-family:$medium-font-name;
}
.bold-font-name{
    font-family:$bold-font-name!important;
}
.extra-bold-font-name{
    font-family:$extra-bold-font-name;
}

.social-font-name{
    font-family:$social-font-name;
}

.flourish-font-name-italic{
    font-family:$flourish-font-name-italic;
}



//font color

.primary-text-color{
  color:$primary-color!important;
  p{
    color:$primary-color!important;
  }
}

.secondary-text-color{
  color:$secondary-color!important;
  p{
    color:$secondary-color!important;
  }
}

//font size

.micro-text{
  font-size:0.7rem;
}


//font base



h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { 
  font-weight: inherit; 
}
h1, h2, h3, h4, h5, h6, p {
  margin:0;
  margin-bottom:$baseline/2; 
}

h1,h2,h3,h4,h5,h6{
  color:$text-color;
}


h1 { 
  font-size: 4.7rem; 
  margin-bottom:$baseline;
}
h2 { 
  font-size: 6rem; 
  margin:4rem 0 7rem 0;
  font-family: $bold-font-name;
  line-height: 6.5rem;
  text-align: center;
  letter-spacing: -0.04em;
    @include breakpoint(md) {
    font-size: 4.5rem;
    line-height:4.8rem;
  }
    @include breakpoint(sm) {
    font-size: 3.2rem;
    line-height:4.0rem;
    margin:2rem 0 3rem 0;
  }
}
h3 { 
  font-size: 2.5rem; 
}
h4 { 
  font-size: 1.9rem; 
  line-height: 2.5rem;
  font-family: $italic-font-name;
  @include breakpoint(md) {
    font-size: 1.8rem;
    line-height:3.2rem;
  }
  @include breakpoint(sm) {
    font-size: 1.5rem;
    line-height:2.6rem;
  }
}
h5 { 
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: $medium-font-name;
}
h6 { 
  font-size: 1.2rem;  
  font-family: $regular-font-name;
}


p{
  color:$body-text-color;
  line-height:3.7rem;
  margin-bottom:$baseline/2;
  &.lead{
    line-height:1.7rem;
  }
  .text-underline{
    padding-bottom:4px;
    border-bottom:1px solid $body-text-color;
  }
  @include breakpoint(md) {
    font-size: 2.2rem;
    line-height:3.2rem;
  }
  @include breakpoint(sm) {
    font-size: 1.9rem;
    line-height:3rem;
  }
  a{
    padding-bottom:4px;
    border-bottom:1px solid black;
    color:black;
    font-weight:700;
    @include transition-duration(.2s);
    &:hover, &:focus, &:active{
      text-decoration:none;
      color:$secondary-color;
      border-bottom-color:$secondary-color;
    }
  }
}

.small{
  font-size: 1.5rem;
  line-height: 2.4rem!important;
}

blockquote{
  border:none;
  font-size: 4.7rem;
  line-height: 5.4rem;
  padding:0;
  padding:30px 0;
  @include breakpoint(md) {
    font-size: 3.2rem;
    line-height:4.2rem;
  }
  @include breakpoint(sm) {
    font-size: 2.9rem;
    line-height:3.5rem;
  }
}




//lists

ul{
  margin-left: 30px;
  li{
    line-height:3.7rem;
  }
  @include breakpoint(md) {
    li{
      line-height:3.7rem;
    }
  }
}

ol{
  &.baseol{
    counter-reset: ordered-list;
    list-style: none;
    margin:$baseline*2 0;

    li{
      border-bottom:$light-border-color 1px solid;
      padding:20px 20px 20px 75px;;
      color:black!important;
      line-height:3.7rem;
      &:first-of-type{
        border-top:$light-border-color 1px solid;
      }
      &:before{
        content: counter(ordered-list);
        counter-increment: ordered-list;
        display: block;
        margin-left: -83px;
        padding: 0 30px;
        float: left;
        color: white;
        font-family: $sans-font-name;
        font-size: 28px;
      }
      @include breakpoint(md) {
        font-size: 2.2rem;
        line-height:3.2rem;
      }
      @include breakpoint(sm) {
        font-size: 1.9rem;
        line-height:3rem;
      }
    }
    &.darkol{
      li{
        &:before{
          color:black;
        }
      }
    }
  }
}


