%section
	.container	
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%h2.text-center
					Time to go shopping
				%p
					With an understanding of how the app will work, we needed to put ourselves in a client's shoes and retrieve more information about the product. The more understanding we have, the more we are setup for success in solving the client’s problem. Here’s what we got back:
			.col-md-1.col-lg-2
		.row
			.col-lg-1
			.col-md-12.col-lg-10
				.brand-doc
					.col-md-1
					.col-md-10
						%img.img-responsive.pull-right.margin-top{:src=>"images/logo_2.png", :width=>"140px"}
						.clearfix
						.padding-top
							.padding-top
								.double-margin-bottom
									%h5
										How does the app work?
									%hr
									%p
										The app is called “Cozy”, we want it to be different from what people are used to. So often working with a thermostat can cause headaches and confusion. We want Cozy to allow users to manage their smart device directly through a chat interface. The app will respond in a friendly way and execute. No more complicated configuration and setup. 
									%p
										While the “Chat” component of the app should be the user’s main focus, we want to allow for a more traditional interface too. Perhaps users can toggle between the chat and a setting page, where they can manually adjust things. Note that folks should be able to adjust any setting by requesting it through the chat, we would just like them to have complete control by means of a settings place too. 
									%p
										The thermostat should learn from the user’s behavior and take care of everything for them. Nest currently does something similar with it’s learning capabilities. We will have all the nest technology wrapped up in a “Cozy” assistant personality. 
									%p
										We are having another firm handle the design and functionality of the hardware. You are only responsible for the native application as this will be the user’s main touch point. We plan to launch with IOS and then quickly develop an android app once we’re off and running. 

								.double-margin-bottom
									%h5
										Competition:
										%br
										Who are your competitors in this space (urls)?
									%hr
									%p
										%a{:href=>"https://nest.com/", :target=>"_blank"}
											https://nest.com/
											%i.fa.fa-external-link
									%p
										%a{:href=>"https://yourhome.honeywell.com/en/products/wi-fi-thermostats", :target=>"_blank"}
											https://yourhome.honeywell.com/en/products/wi-fi-thermostats
											%i.fa.fa-external-link
									%p
										%a{:href=>"https://sensicomfort.com/", :target=>"_blank"}
											https://sensicomfort.com/
											%i.fa.fa-external-link
								.double-margin-bottom
									%h5
										What is your target market?
										%br
										List of audiences/targets/ current and future
									%hr
									%p
										We’d like to target tech-savvy business professionals. People who appreciate the bleeding edge of technology and are always up-to-date with the latest trends. 
								.double-margin-bottom
									%h5
										Describe your best customers’/users’ relationship with the app
									%hr
									%p
										We would like the app to foster an initial feeling of “Trust” with our customers. After answering a few questions, Cozy should take it from there. We want users to feel like the app is always ready to listen but does not require any special treatment. “Obedience with initiative”.
								.double-margin-bottom
									%h5
										Who is your user?
									%hr
									%p
										While the brand is targeted toward tech-savvy business professionals, we feel our users to be anyone who wants to experience a modern way to control their smart devices. Perhaps even those who would rather just “talk to someone” than root through an over-complicated interface to find what they are looking for. 
								.double-margin-bottom
									%h5
										Current value proposition: What are you “selling”?
									%hr
									%p
										We’re selling the future of “easy-to-use” smart home technology 
								.double-margin-bottom
									%h5
										If you could get your users/visitors to do only one thing, what would it be?
									%hr
									%p
										Buy a Cosey and LOVE it

								.double-margin-bottom
									%h5
										Apps and features:  
										%br
										What apps have the look and feel that are relevant to what you want to achieve (do not need to be in your space):
									%hr
									%p
										Google assistant
										%br
										Carbon healthcare
										%br
										Slack
										%br
										Nest App 
								.double-margin-bottom
									%h5
										Personification: 
										%br
										If your app were a person, alive or dead, real or fictitious, who would it be? And why?
									%hr
									%p
										Abraham Lincoln
									%p
										An honest, hard working presence whom will always make the right choice under any circumstance. Also, interesting with heaps of experience. We want Cozy to make users feel at ease with an “I’ve got this” ora.
								.double-margin-bottom
									%h5
										Brand pyramid: 
										%br
										(3 to 5 answers per category please)
								.double-margin-bottom
									%h5
										Personality: (e.g. dedicated, modern, sleek):  
									%hr
									%p
										Lively 
										%br
										Honest
										%br
										Attentive 
										%br
										Obedient 
								.double-margin-bottom
									%h5
										Functional Benefits: (e.g. information, guidance, analysis): 
									%hr
									%p
										Information
										%br
										Guidance
										%br
										Analysis
										%br
										Maintenance
										%br
										Troubleshooting
								.double-margin-bottom
									%h5
										Features/attributes: (e.g. facts, user generated, web based)  
									%hr
									%p
										Mobile app 
										%br
										Free with purchase
										%br
										Non-intrusive
					.col-md-1
			.col-lg-1