%section.inverse-section.primary-bg
	.container	
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%h2.text-center.no-marign-bottom
					%span.hidden-xs
						Do not 
					press the big red button!
				%img.do-not.hidden-xs{:src=>"images/do_not_1.png" ,:style=>"" }
				%p
					Building on  our NASA-red action color, we choose to incorporate a large red button to initiate warping. Many of us have an innate child-like desire to “push a big red button”. We decided to play off this emotion to add some delight to the app. In future iterations, we feel we can add some exciting UX to really drive home a feeling of joy here. Perhaps a pleasurable sound or a long press build up that would also act as a “confirm”.
			.col-md-1.col-lg-2
		.double-padding-bottom
		.double-padding-bottom
		.double-padding-bottom
%section{:style=>"background-color:white;"}
	.container	
		.row
			.col-lg-12
				%img.img-responsive.margin-auto.margin-bottom{:src=>"images/do_not_2.png" ,:style=>"margin-top:-255px;" }
				%img.img-responsive.margin-auto.margin-bottom.margin-top{:src=>"images/do_not_3.png"}