%section
	.container	
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%h2.text-center
					Messaging
				%p
					Typing something like “Set temperature to 70” could be seen as a more demanding interaction than simply turning a dial. Because of this, we designed the keyboard to offer smart suggestions based on the context of the conversation, as we want making adjustments to be as frictionless as possible. 
			.col-md-1.col-lg-2
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%img.img-responsive.margin-auto.margin-bottom.margin-top{:src=>"images/messaging.png", :width=>"375px"}
			.col-md-1.col-lg-2