%section.inverse-section{:style=>"background-color:#313131;"}
	.container	
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%h2.text-center
					Meaningful color
				%p
					While it would have been easy to pepper this app with a barrage of colors, we choose to create a simple color system that would be:
				%ol.baseol
					%li{:style=>"color:#fff!important;"}
						Easy to communicate to developers
					%li{:style=>"color:#fff!important;"}
						Incorporate proper use-cases for each color selection
				%p
					Assigning meaning to color and keeping the palete simple will make things easier as the brand and product begin to expand. 
			.col-md-1.col-lg-2
		.row
			.col-md-1.col-lg-1
			.col-md-10.col-lg-10
				%img.img-responsive.margin-auto.double-margin-bottom.double-margin-top{:src=>"images/color_1.png", :width=>"956px"}
			.col-md-1.col-lg-1