%section
	.container	
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%h2.text-center
					Decisions, decisions
				%p
					While the app is not a Google product, we chose to adopt some of 
					%a{:href=>"https://www.google.com/design/spec/material-design/introduction.html", :target=>"_blank"}
						Google’s material design patterns. 
					The language translates well across both IOS and Android, assuming attention to detail is paid to each platform’s native design foundation. 
			.col-md-1.col-lg-2
		.row
			.col-lg-12
				%img.img-responsive.margin-auto.margin-bottom.margin-top{:src=>"images/decision_1.png"}