%section{:style=>"background-color:white;"}
	.container	
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%h2.text-center.no-marign-bottom
					Preventing burn-down
				%p
					These designs act as a solid base to begin testing assumptions. That said, the result is just that: A starting point. Only when we put the app in the hands of real users will we understand if the concept is a success.
			.col-md-1.col-lg-2
		.row
			.col-lg-12
				%img.img-responsive.margin-auto.margin-bottom{:src=>"images/phones.png", :width=>"600px"}
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%h4
					Once launched, it is important that we are receptive to feedback of all kinds with a framework for testing metrics and measuring success. 

			.col-md-1.col-lg-2