%section{:style=>"background-color:white;"}
	.container	
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%h2.text-center.no-marign-bottom
					Preventing crash landings
				%p
					The designs act as a solid base to begin testing assumptions. That said, the result is just that: A starting point. 
				%blockquote
					We still have a long way to go to nail the experience. 
				%p
					During the next phase, we plan to be receptive to feedback and open to evolving our thinking, based on what we observe when people pick up this new product for the first time. 
			.col-md-1.col-lg-2
		.row
			.col-lg-12
				%img.img-responsive.margin-auto.margin-bottom.double-margin-top{:src=>"images/crash_1.png"}
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%h4
					Screens identifying where in time you are, where in time you want to go, and an actionable affordance to initiate time travel. Android tablet left, iPhone right.

			.col-md-1.col-lg-2