%section
	.container	
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%h2.text-center.no-marign-bottom
					Meet Cozy ...
			.col-md-1.col-lg-2
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%p
					In order for our design to succeed, we needed to develop a simple brand component as a baseline for the personality of the app. We created a simple mark that could also act as the avatar for the Cozy chat bot.  
			.col-md-1.col-lg-2
%section.ideas
	.container
		.row
			.col-lg-12
				%img.img-responsive.margin-auto.margin-bottom.margin-top{:src=>"images/cozy_1.png", :width=>"794px"}
%section
	.container	
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%img.img-responsive.margin-auto.margin-bottom.margin-top{:src=>"images/cozy_2.png", :width=>"704px"}
			.col-md-1.col-lg-2
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%p
					We designed the mark to work on light and dark in warm, cool and neutral forms.  
			.col-md-1.col-lg-2

