%section
	.container	
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%h2.text-center.no-marign-bottom
					Traveling to the future 
				%p
					In a perfect world, we would simply use our new app to travel to the future and see what features stick. Somehow though, that feels like cheating. Moving forward, we plan to explore additional functionality including:
				%ol.baseol.darkol
					%li
						Allowing users to save moments
					%li
						Allowing users to comment on moments 
					%li
						Allowing users to share moments 
					%li
						Extending the search bar functionality to allow users to search for general interests that could link to a list of moments  
					%li
						User-created moment feeds, potentially rooted in hashtags.
					%li
						Trending moments
%section.primary-bg.inverse-section
	.container	
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%h2.text-center.no-margin-bottom
					Thats all folks.
				%h4.text-center
					\-Thanks,
					%a{:href=>"#top", :style=>"text-decoration:underline;"}
						beam me up Scotty