%section
	.container	
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%h2.text-center
					Let’s get Cozy!
				%p
					With machine learning developing at a rapid pace and smart devices on the rise, there’s no doubt that applications for controlling them will take center stage as we dive into 2018. When given the opportunity to design an interface for one of these intelligent little life-enhancers, my enthusiasm was immediately set to “Thrilled”:
				.padded.text-center.double-margin-top.double-margin-bottom
					%img.img-responsive.margin-auto{:src=>"images/logo_1.png"}
				%h4
					%strong
						The challenge:
					“Design a native app (either iOS or Android, or both) for a smart device. The app should allow the user to easily adjust the temperature, lights, and music in their home or office. You may select the designed feature set and user flow based on the user demographic of tech-savvy, relatively affluent professionals.”
			.col-md-1.col-lg-2