%section{:style=>"background-color:white;"}
	.container	
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%h2.text-center
					Preparing to turn up the heat
				%p
					While researching other assistant and thermostat apps, we came across some fantastic interfaces. 
			.col-md-1.col-lg-2
		.row
			.col-lg-12
				%img.img-responsive.margin-auto.margin-bottom.double-margin-top{:src=>"images/landscape.png"}
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%p
					We noticed however that many of the thermostat apps were full of confusing knobs and dials. Many of the apps used a "notched" treatment to indicate the current temperature. We found it hard to understand what the notches represent and use seemed to vary between products. 
			.col-md-1.col-lg-2
		.row
			.col-lg-12
				%img.img-responsive.margin-auto.margin-bottom.double-margin-top{:src=>"images/landscape-2.png"}
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%h4
					We felt that the thermostat visualization should remain simple with the temperature immediately visible. For the chat UI, a traditional approach seemed the best place to start. 