%section{:style=>"background-color:white;"}
	.container	
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%h2.text-center
					A quick note on the iPhone menu
				%p
					Apple prefers their apps use a fixed bottom nav bar to navigate. We explored this idea, but ultimately went with a slide-in menu. We did this to support the accessibility of the “Take Me Home” action. While we would have preferred to use the tab bar, we didn't want the two to compete. Perhaps in the future, we can find a more viable solution. 
		.row
			.col-lg-12
				%img.img-responsive.margin-auto.margin-bottom.double-margin-top{:src=>"images/menu.gif", :width=>"320px" , :style=>"box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.30);"}
