%section{:style=>"background-color:white;"}
	.container	
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%h2.text-center
					A note on the thermostat UI
				%p
					Many of the thermostat visuals we came across included notches. While these look nice, we found them to be unnecessary, and frankly difficult to understand, when displaying the temperature with only “Up” “Down” controls. We landed on a design for the thermostat component with an emphasis on simply adjusting temperature. 
			.col-md-1.col-lg-2
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%img.img-responsive.margin-auto.double-margin-top{:src=>"images/thermo_1.png", :width=>"411px"}
			.col-md-1.col-lg-2
%section.ideas
	.container
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%img.img-responsive.margin-auto.margin-bottom.margin-top{:src=>"images/thermo_2.png", :width=>"634px"}
			.col-md-1.col-lg-2

