%section.parallax{"data-parallax"=>"scroll", "data-image-src"=>"images/moments_bg.png"}
	.container	
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%h2.text-center
					Moments
				%p
					Moments are core to the app concept. Making them look interesting in a listview turned out to be somewhat of a challenge. To get them looking just right, we went through a few rounds of color treatments. While we made progress, we feel we're not there yet.
				%p
					Like locations in a map app, more fleshed out moments will surface supporting images. Newer or less explored moments will fall back to a default coordinate treatment, displaying a visualization of where the moment sits in time. To start, only moments curated by NASA will have images and descriptions. Eventually, we will add the ability for anyone to add to moments. 
		.row
			.col-lg-12
				%img.img-responsive.margin-auto.margin-bottom.double-margin-top{:src=>"images/moments_1.png"}

		.double-padding-bottom
		.double-padding-bottom
