#history-slider.carousel.slide.carousel-fade{"data-ride" => "carousel", "data-interval"=>"2000", "data-pause"=>"none"}
  .carousel-inner{:role => "listbox"}
    .item.active
      %img.fill{:src => "images/hand_1.png"}

/ %section.parallax{"data-parallax"=>"scroll", "data-image-src"=>"http://lorempixel.com/1440/638/sports/2"}


