%section
	.container	
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%h2.text-center.no-marign-bottom
					Putting it all together
				%p
					With our initial design decisions in place, we linked the screens together into a complete flow. It was helpful for us to visualize the experience from start to finish.
			.col-md-1.col-lg-2
		.row
			.col-md-3
			.col-md-6
				#video-container
					%video{:controls => ""}
						%source{:src => "images/flow-SD.mp4", :type => "video/mp4"}
			.col-md-3