%section
	.container	
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%h2.text-center.no-marign-bottom
					Just enough control
				%p
					While chat is the center of the action, we included a settings place for users to maintain ultimate control over their device. This also provides a configuration overview at a glance. 
			.col-md-1.col-lg-2
		.row
			.col-md-12
				%img.img-responsive.margin-auto.margin-bottom.margin-top{:src=>"images/settings_1.png"}
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%p
					We also included a way for users to view and maintain their schedule. While Cozy will set this up for you, sometimes seeing and managing the configuration is important. 
			.col-md-1.col-lg-2
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				.text-center.padding-top
					.shadowed.margin-bottom
						%img.img-responsive.margin-auto{:src=>"images/schedule.gif"}
			.col-md-1.col-lg-2


%section
	.container	
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%h2.text-center.no-marign-bottom
					Thermo-stats
				%p
					We designed Cosey to provide stats directly in the chat place. Common commands and an overview of your thermostat are a good place to start. The sky is the limit with the amount of overview cards we can offer in the future
			.col-md-1.col-lg-2
		.row
			.col-md-12
				%img.img-responsive.margin-auto.margin-bottom.double-margin-top{:src=>"images/stats.png", :width=>"722px"}


%section
	.container	
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%h2.text-center.no-marign-bottom
					Fire it up
				%p
					With our initial design decisions in place, we linked the screens together into a complete flow. It was helpful for us to visualize the experience from start to finish.
			.col-md-1.col-lg-2
%section.blast-off
	.container	
		.row
			.col-md-12
				.text-center.padding-top
					.shadowed.margin-bottom.no-border
						%img.img-responsive.margin-auto{:src=>"images/flow.gif",:width=>"375px"}



