%section
	.container	
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%h2.text-center
					Type
				%p
					NASA uses helvetica as their primary typeface. It’s designed to work well in any situation, and is very close to Apple’s system typeface: San Francisco, which was modeled closely from helvetica. We decided to use helvetica as the typeface for both platforms. It is neutral enough to make both IOS and Android demographics feel at home. We set the text on the larger side, so all users, young and old, are able read the information on the pages (without having to resort to their reading glasses). While smaller text looks nice, accessibility is something NASA deemed important. 
			.col-md-1.col-lg-2
		.row
			.col-lg-12
				%img.img-responsive.margin-auto.margin-bottom.margin-top{:src=>"images/type_1.png"}
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%p
					A staple of the NASA brand is the “vertical type” treatment. To keep the app design feeling like NASA, even with the 
					%a{:href=>"https://developer.apple.com/library/ios/documentation/UserExperience/Conceptual/MobileHIG/Branding.html", :target=>"_blank"}
						absence of logos and heavy branding
					, we added vertical type to the category cells. We choose to display the “moment count” here, as we have relative control over the length of the label. This is the first screen users will see, so  it was a great opportunity to project the essence of NASA right out of the gate. 
			.col-md-1.col-lg-2
		.row
			.col-lg-12
				%img.img-responsive.margin-auto.margin-bottom.double-margin-top{:src=>"images/type_2.png"}