


.invisible{
	visibility:hidden;
}

.hover-lift{
		&:hover{
			img{
				transform:translate3d(0, -5px, 0);
			}
		}
	img{
		transform:translate3d(0, 0, 0);
		@include transition(all 200ms ease);
		position: relative;
	}
}




// #home-img {
//   @include animation-duration(30s);
//    @include animation-delay(2s);
//   @include animation-iteration-count(2);
// }


#home-img {
  @include animation-duration(10s);
  @include animation-iteration-count(infinite);
}


#monitoring-two{
	position:absolute;
	bottom: 319px;
	left:120px;
	margin-bottom: -319px;
	z-index: -999;
}


#manage-two{
	position:absolute;
	bottom: 499px;
	left:-20px;
	margin-bottom: -499px;
	z-index: -999;
}

#manage-three{
	position:absolute;
	bottom: 499px;
	right:-20px;
	margin-bottom: -499px;
	z-index: -999;
	overflow-x:hidden;
}