;;;
"title": "Forward"
;;;


%section.invert-section.home-header-section
%section.home-section
	.container
		.row.text-center
			.col-sm-1.col-md-2.col-lg-3
			.col-sm-10.col-md-8.col-lg-6
				%div{:style=>"margin-top:-150px;"}
					=image_tag'avatar.png', :width=>"200px", :class=>"home-avatar"
				.intro
					%h5
						Intro
					%p.half-margin-bottom
						Hello brilliant minds of 
						%span.bold-font-name{:style=>"color:#4a92f8; letter-spacing:-2px;"}
							TopTal
						\. Thank you for the opportunity to present my work on this visual design exercise. I had a lot of fun imagining possibilities and exploring solutions. The following is a documentation of my process from start to finish, in case study format.   
					%p.double-margin-bottom.signature
						\- Alex Lauderdale, Designer
					%a.btn.btn-info.btn-xl{:href=>"/project"}
						View the Case Study
			.col-sm-1.col-md-2.col-lg-3







