;;;
"title": "Smart Device App Design",
"description": "Description"
;;;

=partial"home/loader"

#top
=partial"home/slider"
=partial"home/intro"
=partial"home/preboarding"
=partial"home/begin"
=partial"home/landscape"
=partial"home/start"
=partial"home/blast"
=partial"home/color"
=partial"home/find"
=partial"home/moments"
=partial"home/momentstwo"
=partial"home/button"
=partial"home/menu"
=partial"home/together"
=partial"home/end"
=partial"home/future"