%section
	.container
		.col-md-1
		.col-md-10
			%h2.text-center
				The best in all the land you see
			%p
				pretium eget felis sed, interdum dictum lacus. Integer iaculis tortor sed lobortis porttitor. Vestibulum quis eleifend enim, vel fermentum ipsum. Nunc quis felis faucibus, ultrices sem eu, pretium risus. Sed ut vulputate magna, sit amet fringilla nunc. Integer quis quam mi. Etiam a ante elementum, ultricies tellus eu, pharetra mauris. Suspendisse et purus non risus pellentesque semper.
			%p
				pretium eget felis sed, interdum dictum lacus. Integer iaculis tortor sed lobortis porttitor. Vestibulum quis eleifend enim, vel fermentum ipsum. Nunc quis felis faucibus, ultrices sem eu, pretium risus. Sed ut vulputate magna, sit amet fringilla nunc. Integer quis quam mi. Etiam a ante elementum, ultricies tellus eu, pharetra mauris. Suspendisse et purus non risus pellentesque semper.
			%h4
				Demonstrate how you can apply a common visual language for a NASA time travel app, which consists of a UI that identifies where in time you are, where in time you want to go, and an actionable affordance to initiate time travel
		.col-md-1